.*
!.gitignore

css-toggle-switch/
node_modules/

src/packages/
src/js/vendor/

dist/css/maps/
img/*.ai
img/*.zip
img/mf-openr_logo2.png
img/mf-openr_logo2.svg
img/mf-openr_logo2b.png
img/mf-openr-favicon.png