.triggers {
	position: relative;
}

.trigger {
	color: $colorOne;
	cursor: pointer;
	font-size: 2rem;
	margin: 1rem;
	position: absolute;
	top: 0;
	&:hover {
		color: $colorThree;
	}
}

.trigger--config {
	right: 0;
}

// LOGO

.site-header {
	.logo {
		display: block;
		font: 0/0 normal;
		margin-top: 0.3rem;
		max-width: 80%;
		text-indent: -999%;
		@media screen and ( min-width: 600px ) {
			margin: 0 auto;
			max-width: 360px;
		}
		.logo__img {
			display: block;
			height: auto;
			width: 100%;
		}
	}
}