.triggers {
	position: relative;
}

.trigger {
	color: $colorOne;
	cursor: pointer;
	font-size: 2rem;
	margin: 1rem;
	position: absolute;
	top: 0;
	&:hover {
		color: $colorThree;
	}
}

.trigger--config {
	right: 0;
}