.info-box {
	border-color: #cee1e1;
	border-style: solid;
	border-width: 1px;
	/*margin-bottom: 1em;*/
}
.info-box.active {
	border-color: #005959;
}

.info-box .header {
	background-color: #F5FDFB;
	display: block;
	overflow: hidden;
	position: relative;
}

.info-box.expandable > .header:after {
	background-image: url(http://www.crystalski.co.uk/static/img/crystal/arrow-sprite.png);
	background-repeat: no-repeat;
	background-position: 2px -370px;
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	width: 1em;
	height: 1em;
	margin-top: -11px;
}

.info-box.expandable.active > .header:after {
	background-position: 2px -400px;
}

.info-box .header h3 {
	color: #005959;
	font-size: 1em;
	margin: 0;
	padding: 0.75em;
	text-transform: uppercase;
}

.info-box.expandable > .header h3 {
	cursor: pointer;
	padding-right: 1em;
}

.info-box .content {
	display: none;
	padding: 1em;
	position: relative;
	overflow: hidden;
}

.info-box.expandable.active .content {
	display: block;
}

