// Brand Colours
$colorOne: #005959; // Dark Green
$colorTwo: #84329b; // Purple
$colorThree: #00ce9b; // Green
$colorFour: #ccf5eb; // Lt Green
$colorFive: #ffd72e; // Yellow
$colorSix: #639BC6; // blue


$fenwayGreen: rgb(84, 121, 109); // #54796d
$fenwayBlue: rgb(37, 44, 65); // #252c41
$fenwayWhite: rgb(238, 239, 236); // #eeefec
$fenwayYellow: rgb(255, 205, 9); // #ffcd09
$fenwayRed: rgb(190, 59, 67); // #be3b43
