// All modules included here to make adding new partials easier
// Modules are blocks of content that can contain html elements or components
// If this folders becomes large, split the partitials into folder groups
// @import 'tabs';
@import 'forms';
@import 'off-canvas';
@import 'tabs';
@import 'callouts';
@import 'tooltips';