.container label {
	display: inline-block;
	vertical-align: baseline;
}

.field {
	margin: 0 0 1rem 0;
}

.field label {
	min-width: 8rem;
}

.container--folder label,
.container--code label {
	display: block;
	margin-bottom: 0.5em;
}

.checks {
	/*display: inline-block;*/
	// float: left;
	/*max-width: 45%;*/
	// padding: 0 1rem 1rem;
}

.checks label {
	display: block;
	margin: 0.5rem 0;
}

.checks input,
.checks.filters span {
	margin: 0.5rem 0.25rem;
}

.sites__container {
	display: table;
	width: 100%;
}

// .sites__row {
// 	display: table-row;
// 	.site {
// 		display: table-cell;
// 	}
// 	.check {
// 		display: table-cell;
// 		text-align: center;
// 		.fa {
// 			font-size: 2em;
// 		}
// 	}
// }

.sites__row {
	display: flex;
	margin-bottom: 0.5em;
	.site {
		// min-width: 200px;
		flex-grow: 1;
	}
	.check {
		text-align: center;
		width: 15%;
		.fa {
			font-size: 2em;
		}
	}
}

.sites__header-row {
	font-weight: 700;
}

.sites__data-row {
	border-color: $dkgrey;
	border-style: solid;
	border-width: 0;
	&[data-site="52"] {
		background-color: #a0c7e7;
		.site {
			background-image: url(/multiple-file-opener/img/thomsonsummer_logo.svg);
			background-size: 150px;
		}
	}
	&[data-site="70"],
	&[data-site="71"] {
		background-color: #f5f5f5;
		.site {
			background-image: url(/multiple-file-opener/img/crystalsummer_logo.svg);
		}
	}
	&[data-site="79"] {
		background-color: #73afdc;
		.site {
			background-image: url(/multiple-file-opener/img/thomsonwinter_logo.svg);
			background-size: 150px;
		}
	}
	&[data-site="71"],
	&[data-site="81"] {
		.site {
			position: relative;
			&:after {
				color: $black;
				content: '(Ireland)';
				display: block;
				font-size: 1rem;
				height: 20px;
				left: 130px;
				line-height: 1;
				position: absolute;
				text-indent: 0;
				top: 1rem;
				width: auto;
			}
		}
	}
	.site {
		background-image: url(/multiple-file-opener/img/crystalwinter_logo.svg);
		background-position: 5px 10px;
		background-repeat: no-repeat;
		background-size: 110px;
		padding: 0;
		text-indent: -99999em;
	}
}

.checks__input {
	display: none;
	& + .fa {
		cursor: pointer;
		&:before {
			color: $vdkgrey;
			content: "\f1db";
		}
	}
	&:checked + .fa:before {
		color: #84329b;
		content: '\f05d';
	}
	[data-site="52"] &,
	[data-site="79"] & {
		& + .fa:before {
			color: $white;
		}
		&:checked + .fa:before {
			color: #ffe100;
		}
	}
	[data-site="70"] &,
	[data-site="71"] & {
		&:checked + .fa:before {
			color: #55AB27;
		}
	}
}


.container input[type="text"] {
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	display: inline-block;
	font-size: 1.5rem;
	margin-right: 1rem;
	min-width: 14rem;
	padding: 0.5rem;
}

.container input[type="text"]:focus,
.container textarea:focus {
	border-color: #005959;
	outline: 0;
	-webkit-transition: border-color 0.2s ease-out;
	-moz-transition: border-color 0.2s ease-out;
	transition: border-color 0.2s ease-out;
}

.container--folder input[type="text"] {
	width: 100%;
}

.container textarea {
	border-color: #cee1e1;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	font-family: consolas, monospace;
	/*font-size: 1rem;*/
	width: 100%;
	padding: 1em 1em 1em 3em;
}

.container textarea:focus {
	background-color: #252a32;
	color: #fff;
}

.textarea-wrap {
	position: relative;
}

.textarea-wrap:before {
	color: #ccc;
	content: '$';
	position: absolute;
	/*width: 10px;*/
	/*height: 10px;*/
	top: 14px;
	left: 24px;
}
